altgraph==0.17
asn1crypto==0.24.0
attrs==19.3.0
Automat==0.8.0
autopep8==1.4.4
beautifulsoup4==4.8.1
blinker==1.4
brotlipy==0.7.0
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
cffi==1.11.4
chardet==3.0.4
click==6.7
colored==1.4.2
# conda==4.7.12
# conda-package-handling==1.6.0
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
Cython==0.29.14
et-xmlfile==1.0.1
Flask==0.12.2
Flask-Cors==3.0.8
future==0.18.2
gcloud==0.17.0
Gooey==1.0.3
google-api-core==1.16.0
google-api-python-client==1.8.0
google-auth==1.9.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.6.0
gspread==3.1.0
gunicorn==20.0.4
h11==0.7.0
h2==3.1.1
hpack==3.0.0
httplib2==0.14.0
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.6
incremental==17.5.0
itsdangerous==0.24
jdcal==1.4.1
Jinja2==2.10
jws==0.1.3
kaitaistruct==0.8
lazy-object-proxy==1.4.3
ldap3==2.5.2
lxml==4.4.2
MarkupSafe==1.0
menuinst==1.4.11
mitmproxy==4.0.4
nltk==3.4.5
numpy==1.18.1
oauth2client==3.0.0
oauthlib==3.1.0
openpyxl==3.0.3
pandas==0.25.3
parsel==1.5.2
passlib==1.7.2
pefile==2019.4.18
Pillow==7.0.0
Protego==0.1.15
protobuf==3.11.1
psutil==5.6.7
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.18
pycryptodome==3.4.3
PyDispatcher==2.0.5
pydivert==2.1.0
PyHamcrest==1.9.0
PyInstaller==3.6
pyOpenSSL==17.5.0
pyparsing==2.2.2
pyperclip==1.6.5
Pyrebase==3.0.27
PySocks==1.6.7
pytesseract==0.3.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-jwt==2.0.1
pytz==2019.3
pywin32==222
pywin32-ctypes==0.2.0
queuelib==1.5.0
regex==2020.1.8
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
rsa==4.0
ruamel-yaml==0.15.35
Scrapy==1.8.0
selenium==3.141.0
service-identity==18.1.0
six==1.11.0
sortedcontainers==2.0.5
soupsieve==1.9.5
tornado==5.1.1
tqdm==4.39.0
Twisted==19.10.0
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.22
urwid==2.0.1
w3lib==1.21.0
Werkzeug==0.14.1
win-inet-pton==1.0.1
wincertstore==0.2
wrapt==1.11.2
wsproto==0.11.0
wxPython==4.0.7.post2
xlrd==1.2.0
zope.interface==4.7.1
